.chat-room-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

body{
    overflow-x: hidden;
}
.backgroundAllChatRooms{
    
    /* background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);   
    background: linear-gradient(to right, #3f2b96, #a8c0ff);  
    */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #502b96, #bca8ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    min-width: 100vw; 
    width: fit-content;
    min-height: 100vh;
    height: fit-content;
}
.allChatRoomsHeading1{
    font-family: serif;
    color: rgb(249, 239, 254);
    margin-bottom: 40px;
}
.makeCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divideRow{
    display: flex;
    flex: 1 1 25%;
    margin-bottom: 35px;
    align-items: center;
    justify-content: center;
    width: 100vw;
}