*{
    margin:0px;
}
.suggestionBackgroundBody
{
    
    /* background: url("../home/../../images/cardBackground.jpg");  */
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #502b96, #bca8ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-width: 100vw;
    width: fit-content;
    min-height: 100vh;
    height: fit-content;
}
.heading1{
    font-size: 40px;
    font-family: cursive;
    color: rgb(10, 27, 120);
}
.suggestionCardsStyle{
    display: flex;
    flex: 1 1 20%;
    margin-bottom: 35px;
    align-items: center;
    justify-content: center;
}
.styleSuggestionCardDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}